.error_messages {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    zoom: 0.75
}

.side {
    width: 15.625rem;
    margin-top: 31.3rem; // Hardcoded for the Legend
}

.side_content {
    border: 0.125rem solid var(--color-black);
    padding: 0.625rem;
}

.center {
    flex: 1;
    margin: 1rem;
}


.dayLabel {
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
}

.dayLabel--selected {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.188rem;
    text-underline-offset: 0.125rem;
}