.container {
    border: 0.125rem solid var(--color-black);
    border-radius: 50%;
    padding: 2.5rem;
    box-sizing: border-box;

    /* Permite que el ancho se ajuste al contenido */
    display: inline-flex;
    width: fit-content;

    /* Forzamos la relación 1:1 para obtener un círculo */
    aspect-ratio: 1;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}