.container {
    border: 2px solid var(--color-white);
    border-radius: 999px;
    padding: 5px;
    box-sizing: border-box; // Para incluir el padding en el cálculo del ancho
    width: 190px;
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: column;
    justify-content: center; // Centra verticalmente (en caso de columna)
    align-items: center; // Centra horizontalmente
    gap: 10px;
}