.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    zoom: 0.75
}

.side {
    width: 15.625rem;
    margin-top: 9.5rem;
}

.side_content {
    border: 0.125rem solid var(--color-white);
    padding: 0.625rem;
}

.center {
    flex: 1;
    margin: 1rem;
}