.error_messages {
    color: var(--color-icon-heart);
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    zoom: 0.75
}

.side {
    width: 15.625rem;
    margin-top: 16.8rem; // Hardcoded
}

.side_content {
    border: 0.125rem solid var(--color-white);
    padding: 0.625rem;
}

.center {
    flex: 1;
    margin: 1rem;
}


.undo_button {
    border: 0.063rem solid var(--color-white);
    border-radius: 0.75rem;
    padding: 0.75rem;
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    outline: none;
}

.undo_button:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.1);
}

.undo_button:focus:not(:disabled) {
    box-shadow: 0 0 0 0.188rem rgba(255, 255, 255, 0.5);
}

.undo_button:active:not(:disabled) {
    transform: translateY(0.063rem);
}

.undo_button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.button {
    border: 0.063rem solid var(--color-white);
    border-radius: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    outline: none;
}

.button:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.1);
}

.activeButton {
    @extend .button;
    background-color: rgba(255, 255, 255, 0.2);
}

.activeButton:focus:not(:disabled) {
    box-shadow: 0 0 0 0.188rem rgba(255, 255, 255, 0.5);
}