.error_messages {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    zoom: 0.75
}

.side {
    width: 15.625rem;
    margin-top: 31.3rem; // Hardcoded for the Legend
}

.side_content {
    border: 0.125rem solid var(--color-black);
    padding: 0.625rem;
}

.center {
    flex: 1;
    margin: 1rem;
}


.button {
    border: 0.1rem solid var(--color-red);
    color: var(--color-red);
    border-radius: 0.625rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    cursor: pointer;

    min-width: 6rem;

    &--active {
        background: var(--color-red-weak);
    }

    &:hover {
        background-color: var(--color-red-weak);
    }
}