@import "tailwindcss";

:root {
    font-family: 'Urbanist', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-white);
    background-color: var(--color-black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Main color palette */
    --color-white: #ffffff;
    --color-black: #252525;
    --color-green: #009c0d;
    --color-rose: rgb(255, 127, 127);
    --color-blue: rgb(127, 136, 255);

    /* Code color palette */
    --color-code-green: #009c0dc7;
    --color-code-yellow: #ffc400be;
    --color-code-orange: #ff7300be;
    --color-code-red: #a00000a6;
    --color-code-black: #000000;

    /* Icon color palette */
    --color-icon-heart: #ff0000;
    --color-icon-batteryFull: #ffd000;
    --color-icon-flagBanner: #5900ff;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    /* min-width: 100vw; */
    min-height: 100vh;
    padding: 1.25rem;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

strong {
    font-weight: 1000;
}

.link a {
    text-decoration: underline;
    text-underline-offset: 0.188rem;
    color: inherit;
}