@import "tailwindcss";

:root {
    font-family: 'Urbanist', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-white);
    background-color: var(--color-black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Main color palette */
    --color-white: #ffffff;
    --color-black: #252525;
    --color-green: #009c0d;

    /* Code color palette */
    --color-code-green: #009c0dc7;
    --color-code-orange: #ff9100be;
    --color-code-red: #a00000a6;
    --color-code-black: #000000;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    padding: 30px; /* "General margins" */
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

strong {
    font-weight: 1000;
}