@import "tailwindcss";

:root {
    font-family: 'Urbanist', sans-serif;
    line-height: 1.5;
    font-weight: 700;

    color-scheme: light dark;
    color: var(--color-white);
    background-color: var(--color-black);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-white: #ffffff;
    --color-black: #252525;
    --color-green: #009c0d;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}