.hiddenInput {
    display: none;
}

.customFileLabel {
    cursor: pointer;
    color: var(--color-rose);
    text-decoration: underline;
}

.fileName {
    cursor: pointer;
    color: var(--color-rose);
    text-decoration: underline;
}